@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .py-navbar-item {
    @apply py-6
  }

  .pt-navbar-item {
    @apply pt-6
  }

  .pb-navbar-item {
    @apply pb-6
  }

  .px-navbar-item {
    @apply px-3
  }

  .pl-navbar-item {
    @apply pl-3
  }

  .pr-navbar-item {
    @apply pr-3
  }

}

@layer components {
  .btn-primary {
    @apply text-white bg-purple-600 py-2 px-4 rounded shadow-md hover:bg-purple-700 active:bg-purple-800 transition-colors;
  }
}

body {
  background-color: #e5e7eb;
}

.wysiwyg-content h3,
.wysiwyg-content h4 {
  font-weight: 600;
  margin-top: 1rem;
}

.wysiwyg-content table > tbody > tr > td {
  padding: 0.25rem 0.125rem;
}

.wysiwyg-content table > tbody > tr > td:first-child {
  font-weight: bold;
}

.table > tbody > tr > td,
.table > thead > tr > th {
  padding: 0.5rem;
}

.table-sm > tbody > tr > td,
.table-sm > thead > tr > th {
  padding: 0.25rem;
}

@import url(https://fonts.googleapis.com/css?family=Russo+One);
.logotype2,
.logotype2:hover {
  text-align:center;
  letter-spacing:1px;
  display:inline-block;
  color: #fff;
  font-size: 50px;
  line-height:50px;
  font-family: 'Russo One', sans-serif;
  text-decoration:none;
  text-shadow: 0 1px 0 #ccc,
  0 2px 0 #c9c9c9,
  0 3px 0 #bbb,
  0 4px 0 #b9b9b9,
  0 5px 0 #aaa,
  0 6px 1px rgba(0,0,0,.1),
  0 0 5px rgba(0,0,0,.1),
  0 1px 3px rgba(0,0,0,.3),
  0 3px 5px rgba(0,0,0,.2),
  0 5px 10px rgba(0,0,0,.25),
  0 10px 10px rgba(0,0,0,.2),
  0 20px 20px rgba(0,0,0,.15);
}
.logotype2 span {
  display:block;
  font-size: 24px;
  transition: all 0.3s ease;
  letter-spacing:2px;
  line-height:32px;
}
.logotype2:hover span {
  font-size: 26px;
}
@media (max-width:600px) {
  .logotype2,
  .logotype2:hover {
    font-size: 36px;
    line-height:40px;
  }
  .logotype2 span {
    font-size:18px;
    letter-spacing:2px;
    line-height:26px;
  }
  .logotype2:hover span {
    font-size: 20px;
  }
}
